.About-main{
    background-color: rgb(3, 3, 3);
    height: 100%;
    width: 100%;
    position: fixed;
}
.about-main-head{
    /* background-color: aquamarine; */
    color: rgb(124, 181, 231);
}
.about-content{
    display: flex;
    column-gap: 250px;
    height: 600px;
    /* background-color: bisque; */
}
.about-content-1{
    height: 600px;
    width: 400px;
    border-radius: 20px 100px 20px 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 150px;
    background-image: url('../Images/finacial_report.jpg');
    box-shadow: rgb(243, 243, 243) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    transition: transform 0.3s ease;
}
.about-content-2{
    width: 500px;
   transition: transform 0.3s ease;
    border: solid whitesmoke;
    border-radius: 20px;
    overflow: hidden;
    
}
.about-content-2-1 p {
font-size: larger;
padding: 20px;
color: gray;
}
.about-content-2-2{
    display: flex;
    column-gap: 150px;
    border: dashed;
    margin-top: 20px;
    color: gray;
    
}
.about-content-2-2 h2{
    font-weight: 100;
    margin-left: 20px;
    
}

.about-content-2:hover{
    transform: scale(1.1);
    background: rgb(243, 243, 243 ,0.3);
    
}
.about-content-1:hover{
    transform: scale(1.1);
}
