.service-main {
    background-color: rgb(6, 7, 7);
    height: 100%;
    width: 100%;
    position: fixed;
  
}

.navbar {
    position: sticky;
}

.service-body-main {
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
}

.service-body {
    padding: 80px;
    display: grid;
    grid-template-columns: auto auto auto;
   
    column-gap: 30px;
    row-gap: 40px;
}

.service-card {
    border: solid;
    border-radius: 20px;
    width: 400px;
    height: 600px;
    text-align: center;
    transition: transform 0.5s ease-in-out;
    transform-origin: top bottom;
    
    color: gray;
    box-shadow: rgb(240, 240, 240) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.card-img {
    border: solid whitesmoke;
    border-radius: 18px;
    overflow: hidden;
    height: 250px;
    width: 100%;
}

#img1 {

    height: 100%;

    object-fit: contain;
}



.card-content h1:hover {
    color: rgba(84, 219, 236, 0.3);
}

.service-card:hover {
   
    transform: rotateX(30deg);
    color: aqua;
    box-shadow: none;

    

}